<table border="0" cellpadding="10" cellspacing="0" width="100%">
  <tr>
    <td valign="top" style="padding-right:0;">
      <div mc:edit="std_content00">
        <h3 class="h3">Estimada Empresa <%= @line_items.first.variant.product.supplier.title %></h3>
        Le remito los datos del pedido de neumaticos con destino a la direccion abajo reseñada.
        <br />
        <br />
        <%= render :partial => 'spree/notify_mailer/provider/tabla_datos' %>
      </div>
    </td>
  </tr>
  <tr>
    <td valign="top" style="padding-right:0;">
      <div mc:edit="std_content00">
        Los datos del cliente son los siguientes:
      </div>
      <div mc:edit="std_content00">
        <%= render :partial => 'spree/notify_mailer/provider/_datos_cliente' %>
      </div>
    </td>
  </tr>
</table>
