<table style="border-collapse:collapse; border-spacing: 0; border: 0; width: 100%">
  <tr>
    <td colspan="2" style="vertical-align: middle" id="social">
      <div>
          &nbsp;<a href="http://twitter.com/NeuCoche">Siguenos en Twitter</a> | <a href="http://facebook.com/neumaticosdecochecom">Amigo en Facebook</a>&nbsp;
      </div>
    </td>
  </tr>
</table>
