<table style="border-collapse:collapse; border-spacing: 0; border: 0; width: 600px" id="templateBody">
  <tr>
    <td style="vertical-align: top" class="bodyContent">
    <!-- // Begin Module: Standard Content \\ -->
      <%= render :partial => 'spree/notify_mailer/provider/datos' %>
    <!-- // End Module: Standard Content \\ -->
    </td>
    <!-- // Begin Sidebar \\  -->
    <td style="vertical-align: top;width: 180" id="templateSidebar">
      <%#= render :partial => 'spree/notify_mailer/provider/sidebar' %>
    </td>
    <!-- // End Sidebar \\ -->
  </tr>
</table>
