<table border="0" cellpadding="10" cellspacing="0" width="600" id="templateBody">
  <tr>
    <td valign="top" class="bodyContent">
    <!-- // Begin Module: Standard Content \\ -->
      <%= render :partial => 'spree/notify_mailer/provider/datos' %>
    <!-- // End Module: Standard Content \\ -->
    </td>
    <!-- // Begin Sidebar \\  -->
    <td valign="top" width="180" id="templateSidebar">
      <%= render :partial => 'spree/notify_mailer/provider/sidebar' %>
    </td>
    <!-- // End Sidebar \\ -->
  </tr>
</table>
