<div id= "info" class="columns alpha eight">
<div class="row">
  <h6>Quienes somos</h6>
</div>
<div class="row">
  <h6>Datos Contacto</h6>
</div>
</div>
<div id="map" class="columns omega four">

</div>
