<div id= "info">
  <h2 style="text-align:center;padding-top:20px;">Quienes somos</h2>
  <div class="row">
    <div class="span6">
      <div class="row">
        <div class="span3">
          <h4>Rodaben S.L.</h4>
          <h5>Después de llevar a la práctica nuestra experiencia en el mundo del neumático de una forma local durante más de 15 años, hemos decidido impulsar la marca Rodaben a nuevos horizontes. Dado el momento que vivimos, internet es el medio que permitirá cumplir nuestras metas.</h5>
        </div>
        <div class="span3">
          <h5>En Rodaben ofrecemos servicio de mecánica rápida, montaje de neumáticos (automóvil, furgoneta, moto, etc...) y venta de accesorios para el automóvil.</h5>
        </div>
      </div>
    </div>
    <div class="span4">
      <iframe width="300" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.es/maps?f=q&amp;source=s_q&amp;hl=es&amp;geocode=&amp;q=rodaben+s.l.&amp;aq=&amp;sll=42.428229,-8.627279&amp;sspn=0.326904,0.682526&amp;ie=UTF8&amp;hq=rodaben+s.l.&amp;hnear=&amp;t=m&amp;cid=6245066139158270695&amp;ll=42.288993,-8.701172&amp;spn=0.152386,0.205994&amp;z=11&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.es/maps?f=q&amp;source=embed&amp;hl=es&amp;geocode=&amp;q=rodaben+s.l.&amp;aq=&amp;sll=42.428229,-8.627279&amp;sspn=0.326904,0.682526&amp;ie=UTF8&amp;hq=rodaben+s.l.&amp;hnear=&amp;t=m&amp;cid=6245066139158270695&amp;ll=42.288993,-8.701172&amp;spn=0.152386,0.205994&amp;z=11&amp;iwloc=A" style="color:#0000FF;text-align:left">Ver mapa más grande</a></small>
    </div>
  </div>
  <div class="row">
    <div class="span4">
      <h5>Iniciamos en este 2012 nuestro camino en la venta de neumáticos on-line, con ello esperamos y deseamos transmitir nuestro conocimiento en el sector al cliente final. Asesorando, compartiendo experiencias, debatiendo con vosotros sobre este tan complejo mundo del neumático.</h5>
    </div>
    <div class="span3">
      <%= image_tag 'rodaben/rodaben_2.jpg', :class => "img-rounded" %>
      <%= image_tag 'rodaben/rodaben_8.jpg', :class => "img-rounded" %>
    </div>
    <div class="span3">
      <%= image_tag 'rodaben/rodaben_4.jpg', :class => "img-rounded" %>
      <%= image_tag 'rodaben/rodaben_1.jpg', :class => "img-rounded" %>
    </div>
  </div>
</div>
