<div id= "info" class="columns alpha six">
<div class="row">
  <h6 style="text-align:center">Quienes somos</h6>
  <p>Rodaben S.L.</p>
  <br>
  <p>Una Empresa de Vigo con mas de 20 años de Experiencia en el sector de neumaticos de automovil y moto.</p>
</div>
<div class="row">
  <h6>Datos Contacto</h6>
</div>
</div>
<div id="map" class="columns omega six">
  <div class="row">
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.es/maps?f=q&amp;source=s_q&amp;hl=es&amp;geocode=&amp;q=rodaben&amp;aq=&amp;sll=42.153315,-8.713985&amp;sspn=0.001935,0.002666&amp;t=m&amp;ie=UTF8&amp;hq=rodaben&amp;hnear=&amp;ll=42.244277,-8.708725&amp;spn=0.088955,0.145912&amp;z=12&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.es/maps?f=q&amp;source=embed&amp;hl=es&amp;geocode=&amp;q=rodaben&amp;aq=&amp;sll=42.153315,-8.713985&amp;sspn=0.001935,0.002666&amp;t=m&amp;ie=UTF8&amp;hq=rodaben&amp;hnear=&amp;ll=42.244277,-8.708725&amp;spn=0.088955,0.145912&amp;z=12&amp;iwloc=A" style="color:#0000FF;text-align:left">Ver mapa más grande</a></small>
  </div>
</div>
