<h4>Cuenta Corriente</h4>
<table border="0" cellpadding="10" cellspacing="0" width="100%" class="templateDataTable">
  <col style="vertical-align: middle;width: 15%;text-align: center">
  <col style="vertical-align: middle;width: 15%;text-align: center">
  <col style="vertical-align: middle;width: 15%;text-align: center">
  <col style="vertical-align: middle;width: 55%;text-align: center">
  <tr>
    <th scope="col"  class="dataTableHeading">BANCO</th>
    <th scope="col"  class="dataTableHeading">SUCURSAL</th>
    <th scope="col"  class="dataTableHeading">DC</th>
    <th scope="col"  class="dataTableHeading">Nº CUENTA</th>
  </tr>

  <tr>
    <td class="dataTableContent dataTableContentAccount">0049</td>
    <td class="dataTableContent dataTableContentAccount">6690</td>
    <td class="dataTableContent dataTableContentAccount">91</td>
    <td class="dataTableContent dataTableContentAccount">2190027311</td>
  </tr>

  <tr>
    <td colspan="3" style="text-align:right;" class="dataTableContent">PROPIETARIO:</td>
    <td colspan="3" class="dataTableContent">Neumaticos Rodaben S.L.</td>
  </tr>

  <tr>
    <td colspan="3" style="text-align:right;" class="dataTableContent">IMPORTE:</td>
    <td colspan="3" class="dataTableContent"><%= @order.display_total %></td>
  </tr>
</table>
