<!DOCTYPE html>
<html>
  <head>
    <link href="/assets/store/email.css" rel="stylesheet" type="text/css" />
  </head>
  <body style="margin: 0 25%">

    <table style="border-collapse:collapse; border-spacing: 0; border: 0; width: 100%; height: 100%" id="backgroundTable">
      <tr>
        <td style="padding-top:20px;text-align: center;vertical-align: top">
          <table style="border-collapse:collapse; border-spacing: 0; border: 0; width: 600px" id="templateContainer">
            <tr>
              <td class="dataTableGeneric">
                <!-- // Begin Template Header \\ -->
                  <%= render :partial => 'spree/order_mailer/header' %>
                <!-- // End Template Header \\ -->
              </td>
            </tr>
            <tr>
              <td class="dataTableGeneric">
              <!-- // Begin Template Body \\ -->
                <% if @order.payment_by_transfer? %>
                  <%= render :partial => 'spree/order_mailer/body_transfer' %>
                <% else %>
                  <%= render :partial => 'spree/order_mailer/body' %>
                <% end %>
                <!-- // End Template Body \\ -->
              </td>
            </tr>
            <tr>
              <td class="dataTableGeneric">
              <!-- // Begin Template Footer \\ -->
                <%= render :partial => 'spree/notify_mailer/provider/template_footer' %>
              <!-- // End Template Footer \\ -->
              </td>
            </tr>
          </table>
          <br />
        </td>
      </tr>
    </table>
  </body>
</html>
