<h4>El Diametro de la rueda es <%= diametro %>mm </h4>
<%= form_tag calc_tires_path, :method => :get do -%>
  <%= select_tag :lista, options_for_select([["Equivalentes", '']] +
      equivalentes, @width ? @width.id : params[:width]) %>
  <%= submit_tag t(:search), :name => nil %>
<% end -%>
