<table class="index">
  <tr>
    <th>Seleccionar</th>
    <th>Nombre</th>
    <th>Imagen actual</th>
  </tr>
  <% products.each do |product| -%>
    <tr>
      <td><%= check_box_tag "product_ids[]", product.id %></td>
      <td><%= product.name %></td>
      <% if product.images.first.nil? -%>
        <td style="background:red">No Tiene Imagen</td>
      <% elsif product.images.first.attachment_file_name == "default.png" -%>
        <td style="background:yellow">Imagen por defecto</td>
      <% else -%>
        <td style="background:green"><%= product.images.first.attachment_file_name %></td>
      <% end -%>
    </tr>
  <% end -%>
</table>
