<%= render :partial => 'spree/admin/shared/tires_setting_menu' %>

<% content_for :page_title do %>
  <%= t(:gestion_neumaticos) %> %>
<% end %>

<table class="table table-stripped table-bordered" data-hook="tire_management">
  <thead>
    <tr>
      <th>Dato tecnico</th>
      <th>Valor</th>
    </tr>
  </thead>
  <tbody data-hook="admin_tire_management_menu">
    <tr>
      <td>Numero de Neumaticos Disponibles</td>
      <td><%= Spree::Product.sum(:count_on_hand) %></td>
    </tr>
    <tr>
      <td>Numero de Modelos a dia de hoy</td>
      <td><%= Spree::Product.count %></td>
    </tr>
  </tbody>
</table>
