<h4><%= t('shipment_mailer.shipped_email.shipment_summary') %></h4>
<table border="0" cellpadding="10" cellspacing="0" width="100%" class="templateDataTable">
  <tr>
    <th scope="col" style="vertical-align: middle;width: 40%;text-align: center" class="dataTableHeading">CODIGO</th>
    <th scope="col" style="vertical-align: middle;width: 50%;text-align: center" class="dataTableHeading">NOMBRE</th>
    <th scope="col" style="vertical-align: middle;width: 10%;text-align: center" class="dataTableHeading">CANTIDAD</th>
  </tr>
  <% @shipment.manifest.each do |item| %>
    <tr>
      <td class="dataTableContent" style="vertical-align:middle;text-align:center;"><%= item.variant.sku %></td>
      <td class="dataTableContent" style="vertical-align:middle;text-align:center;"><%= item.variant.product.name %></td>
      <td class="dataTableContent" style="vertical-align:middle;text-align:center;"><%=item.quantity%></td>
    </tr>
  <% end -%>
</table>
