<div data-hook="admin_tire_load_code_form_fields">
  <table data-hook="name">
    <tr>
      <td><%= t(:name) %>:</td>
      <td><%= f.text_field :name, {'style' => 'width:100px'} %></td>
    </tr>
    <tr>
      <td><%= t(:weight) %></td>
      <td><%= f.text_field :weight, {'style' => 'width:100px'} %></td>
    </tr>
  </table>
</div>
