<table style="border-collapse:collapse; border-spacing: 0; border: 0; width: 600px" id="templateContainer">
  <tr>
    <td style="vertical-align: top;text-align: center">
    <!-- // Begin Template Header \\ -->
      <%= render :partial => 'spree/notify_mailer/workshop/header' %>
    <!-- // End Template Header \\ -->
    </td>
  </tr>
  <tr>
    <td style="vertical-align: top;text-align: center">
      <!-- // Begin Template Body \\ -->
        <%= render :partial => 'spree/notify_mailer/workshop/template_body' %>
      <!-- // End Template Body \\ -->
    </td>
  </tr>
  <tr>
    <td style="vertical-align: top;text-align: center">
      <!-- // Begin Template Footer \\ -->
        <%= render :partial => 'spree/notify_mailer/workshop/template_footer' %>
      <!-- // End Template Footer \\ -->
    </td>
  </tr>
</table>
