<table style="border-collapse:collapse; border-spacing: 0; border: 0; width: 100%">
  <tr>
    <td style="padding-right:0;vertical-align: top">
      <div>
        <h3 class="h3">Para <%= @order.workshop.name %>,</h3>
        Le remito los datos del pedido de neumaticos con destino a su taller para ser instalados en vehiculo propiedad del cliente cuyos datos se reseñan mas abajo.
        <br />
        <br />
        <%= render :partial => 'spree/notify_mailer/workshop/tabla_datos' %>
      </div>
    </td>
  </tr>
  <tr>
    <td style="padding-right:0;vertical-align: top">
      <div>
        Los datos del cliente son los siguientes:
        <br />
        <br />
      </div>
      <div>
        <%= render :partial => 'spree/notify_mailer/workshop/datos_cliente' %>
      </div>
    </td>
  </tr>
</table>
