<table style="border-collapse:collapse; border-spacing: 0; border: 0; width: 600px" id="templateHeader">
  <tr>
    <td class="headerContent" style="padding-left:20px; padding-right:10px;width: 100%">
      <div>
          <h1><%= @order.workshop.name %></h1>
      </div>
    </td>
    <td class="headerContent">
      <img src="/assets/logo.png" style="max-width:180px;" id="headerImage campaign-icon" />
    </td>
  </tr>
</table>
