<table style="border-collapse:collapse; border-spacing: 0; border: 0; width: 100%">
  <tr>
    <td style="vertical-align: top">
      <!-- // Begin Module: Standard Content \\ -->
      <table border="0" cellpadding="20" cellspacing="0" width="100%" class="sidebarContent">
        <tr>
          <td style="padding-right:10px;vertical-align: top">
            <div>
              <strong>Basic content module</strong>
              <br />
              Far far away, behind the word mountains.
              <br />
              <br />
              <strong>Far from the countries</strong>
              <br />
              Vokalia and Consonantia, there live the blind texts.
            </div>
          </td>
        </tr>
      </table>
      <!-- // End Module: Standard Content \\ -->
    </td>
  </tr>
</table>
