<table border="0" cellpadding="10" cellspacing="0" width="100%">
  <tr>
    <td colspan="2" valign="middle" id="social">
      <div mc:edit="std_social">
          &nbsp;<a href="http://twitter.com/NeuCoche">Siguenos en Twitter</a> | <a href="http://facebook.com/neumaticosdecochecom">Amigo en Facebook</a> | <a href="http://www.neumaticosdecoche.com">Visita nuestra pagina</a>&nbsp;
      </div>
    </td>
  </tr>
</table>
