<table style="border-collapse:collapse; border-spacing: 0; border: 0; width: 600px" id="templateFooter">
  <tr>
    <td style="vertical-align: top" class="footerContent">
    <!-- // Begin Module: Standard Footer \\ -->
      <%= render :partial => 'spree/notify_mailer/workshop/social' %>
    <!-- // End Module: Standard Footer \\ -->
    </td>
  </tr>
</table>
