<div data-hook="admin_tire_serial_form_fields">
  <table data-hook="name">
    <tr>
      <td><%= t(:name) %>:</td>
      <td><%= f.text_field :name, {'style' => 'serial:100px'} %></td>
    </tr>
    <tr>
      <td><%= t(:is_mm?) %></td>
      <td><%= f.check_box :is_mm, { 'style' => 'width:40px' } %></td>
    </tr>
  </table>
</div>
