<div data-hook="admin_tire_speed_code_form_fields">
  <table data-hook="name">
    <tr>
      <td><%= t(:name) %>:</td>
      <td><%= f.text_field :name, {'style' => 'speed_code:100px'} %></td>
    </tr>
  </table>
</div>
