<h3>Resumen de Estadisticas de Borrado de Productos llevada a cabo a las <%=	l Time.now, :format => '%H:%M del %A %d de %B del %Y' %></h3>

<h4>Productos de la Empresa GANE: Se han borrado un total de <%= @gane %> productos de la Base de Datos</h4>
<br />
<h4>Productos de la Empresa EUROTYRE: Se han borrado un total de <%= @eurotyre %> productos de la Base de Datos</h4>
